@import "tailwindcss";


.blog-content a {
  color: #2563eb; /* Tailwind blue-600 */
  text-decoration: underline;
}

.blog-content a:hover {
  color: #1d4ed8; /* Tailwind blue-700 */
}
.blog-content a {
  color: #2563eb !important;
  text-decoration: underline !important;
}
